{% extends 'main/base_site.html' %}

{% block subtitle %}Главаня{% endblock %}

{% block content %}
{% for item in object_list %}
<article class="post shadow rounded">
    <img class="img post__image" src="{{ item.image }}" alt="">
    <span class="post__info">
        <a href="">{{item.rubric}}</a> {{ item.created|date }}
    </span>
    <h2 class="post__title"><a href="{% url 'main:post_detail' slug=item.slug %}">{{ item.title }}</a></h2>
    <div class="post__content">
        {{ item.content|safe|slice:":500" }}...
    </div>
</article>
{% empty %}
<p>Тут пока пусто.</p>
{% endfor %}
{% endblock %}