{% extends 'main/base_site.html' %}

{% block subtitle %}Главаня{% endblock %}

{% block content %}
<article class="post shadow rounded">
    <img class="img post__image" src="" alt="">
    <span class="post__info">
        <a href="">Заметки</a> 12 апреля 2023
    </span>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, obcaecati tenetur, illo provident fugit aut dolor quae eligendi molestias quidem voluptates magni voluptate in vero!
    </div>
</article>

<article class="post shadow rounded">
    <img class="img post__image" src="" alt="">
    <span class="post__info">
        <a href="">Заметки</a> 12 апреля 2023
    </span>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, obcaecati tenetur, illo provident fugit aut dolor quae eligendi molestias quidem voluptates magni voluptate in vero!
    </div>
</article>

<article class="post shadow rounded">
    <img class="img post__image" src="" alt="">
    <span class="post__info">
        <a href="">Заметки</a> 12 апреля 2023
    </span>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, obcaecati tenetur, illo provident fugit aut dolor quae eligendi molestias quidem voluptates magni voluptate in vero!
    </div>
</article>

<article class="post shadow rounded">
    <img class="img post__image" src="" alt="">
    <span class="post__info">
        <a href="">Заметки</a> 12 апреля 2023
    </span>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, obcaecati tenetur, illo provident fugit aut dolor quae eligendi molestias quidem voluptates magni voluptate in vero!
    </div>
</article>

<article class="post shadow rounded">
    <img class="img post__image" src="" alt="">
    <span class="post__info">
        <a href="">Заметки</a> 12 апреля 2023
    </span>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, obcaecati tenetur, illo provident fugit aut dolor quae eligendi molestias quidem voluptates magni voluptate in vero!
    </div>
</article>

<article class="post shadow rounded">
    <img class="img post__image" src="" alt="">
    <span class="post__info">
        <a href="">Заметки</a> 12 апреля 2023
    </span>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    <div class="post__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, obcaecati tenetur, illo provident fugit aut dolor quae eligendi molestias quidem voluptates magni voluptate in vero!
    </div>
</article>

{% endblock %}